// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "lists";

.nav-link {
  color: black;
}
.nav-link:hover {
  text-decoration: none;
  color: rgb(82, 82, 82);
}
